<!DOCTYPE html>
<html>

<head>
  <title>Exercise Tracker | by Ygor Dantas</title>
  <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>Exercise tracker | by Ygor Dantas</h1>
    <form action="/api/exercise/new-user" method="post">
      <h3>Create a New User</h3>
      <p><code>POST /api/exercise/new-user</code></p>
      <input id="uname" type="text" name="username" placeholder="username" autocomplete="off" required>
      <input type="submit" value="Submit">
    </form>
    <form action="/api/exercise/add" method="post">
      <h3>Add exercises</h3>
      <p><code>POST /api/exercise/add</code></p>
      <input id="uid" type="text" name="userId" placeholder="userId*" required>
      <input id="desc" type="text" name="description" placeholder="description*" required>
      <input id="dur" type="text" name="duration" placeholder="duration* (mins.)" required>
      <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
      <input type="submit" value="Submit">
    </form>
    <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
    <p><strong>GET list of all users: </strong><a href="/api/exercise/users">List of users</a></p>
    <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
    <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
  </div>
  <footer>
    <a title="GitHub repository" href="https://github.com/ygordantas/exercise_tracker_fcc" target="_blank"><i class="fab fa-github large fa-4x"></i></a>
  </footer>
</body>

</html>